$white : #FFF;
$black: #000;





/********************
GENERAL
*********************/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal; }

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h3 {
    margin: 0 0 1em 0;
    color: $black;
}

/********************
HEADING
*********************/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%; }

#logo {
  text-align: center;
  margin: 0; 
}

h1 {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 30px 0 20px;
  font-size: 2.0em;
  font-weight: bold;
  line-height: 1em; 
}

h2 {
  font-size: 1.0em;
  margin: -5px 0 0;
  font-weight: bold; }

/********************
NAVIGATION
*********************/
nav {
    text-align: center;
    font-size: 1.0em;
    padding: 10px 0;
    margin: 20px 0 0;
    & ul {
        list-style: none;
        margin: 0 10px;
        padding: 0;
    }
    & li {
        display: inline-block;
    }
    & a {
        font-weight: 800;
        padding: 15px 10px;
    }
}

/********************
FOOTER
*********************/
footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc; }

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px; }

/********************
PAGE: PORTFOLIO
*********************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none; 
    & li {
        float: left;
        width: 45%;
        margin: 2.5%;
        background-color: $white;
        font-weight: bold;
        color: #777;
        & a p {
            margin: 0;
            padding: 1% 5% 5%;
            font-size: .79em;
        }
    }   
}


/********************
PAGE: ABOUT
*********************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%; }

/********************
PAGE: CONTACT
*********************/

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em; 
    & a {
        display: block;
        min-height: 20px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        padding: 0 0 0 30px;
        margin: 0 0 10px;    
    }
    & li.phone a {
        background-image: url("../img/phone.png");   
    }
    & li.mail a {
        background-image: url("../img/mail.png");   
    }
    & li.twitter a {
        background-image: url("../img/twitter.png");     
    }
}


/********************
COLORS 
*********************/
/* site body */
body {
  background-color: $white;
  color: #999; }

/* grey header */
header {
  background: #777;
  border-color: $black; }

/* nav background on mobile */
nav {
  background: $black; }

/* logo text */
h1 {
  color: $white; }
h2 {
    color: $black;
}
/* links */
a {
  color: #888; }

/* nav link */
nav a, nav a:visited {
  color: $white; }

/* selected nav link color */
nav a:hover {
  color: #555; 
}

nav a:selected {
    color: #333;
}

/*# sourceMappingURL=main.css.map */
